*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #d9ecf2;
  text-align: center;
  font-family: 'Pacifico', cursive;
  overflow-x: hidden;
}

h1{
  color: #ff414d;
  font-size: 8rem; 
  margin: 3rem auto;
}

p {
  color: #ff414d;  
  font-size: 2.5rem;
}

.btn{
  background-color: #f56a79;
  color: #d9ecf2;
  margin-bottom: 3rem;
}

.dice{
  margin: 2rem auto;
}

/* BREAKDOWN POINT */

@media (max-width:1280px){
  h1{
    font-size: 5em;
  }
  p{
   font-size: 1.5em;
  }
}